<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "mystyle.css"%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
   <body background='static/co.jpg' size="300px">
           <nav class="navbar navbar-default navbar-static-top">
         <div class="container">
           <ul class="nav navbar-nav">
              <li> <a class="navbar-brand" href="">COVID DETECTION</li>
                <li><a class="navbar-link" href="{% url 'list' %}">Self Testing</a></li>
           </ul>

         </div>


   </nav>
   <div class="container">
       {% block body_block %}
       {% endblock %}


   </div>

  </body>

</html>
