{% extends "base.html" %}
{% block body_block %}
 <div class="jumbotron">
   <h2 style="background-color:powderblue;">Welcome to the COVID-19 detection portal</h2>
   <h3 style="background-color:powderblue;">You can do a self assesment test!!</h3>
   <h3 style="background-color:powderblue;">Let us help in this worlwide pandemic situation</h3>
</div>

<div class="bottom">
  <h4 style="background-color:powderblue;">How does it work :</h4>
  <h5 style="background-color:powderblue;">Click on Self Testing</h5>
  <h5 style="background-color:powderblue;">Upload an image of x-ray</h5>
  <h5 style="background-color:powderblue;">Click on process</h5>
</div>
<div class="bottomright">
  <h5>Copyright : sahapriyotosh721@gmail.com</h5>
</div>


{% endblock %}
